/*Remove Arrows/Spinners*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/************************************** DESKTOP VIEW ****************************************/
body{
    font-family: arial, serif;
    color: #333;
}
h1{
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
    font-size: 2.5em;
}
form{
    width: 500px;
    margin: 20px auto;
    text-align: center;
}
.user_input{
    display: block;
    padding: 8px 16px;
    font-size: 2em;
    margin: 10px auto;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}
select{
    font-size: 2em;
    color: #757575;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
    padding: 0 8px;
}
button{
    padding:16px 20px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border: 3px solid black;
}
button:hover{
    background-color: #ccc;
    border-color:darkcyan;
}
button:last-child:active{
    transform:translateY(7px);
}
button:active{
    background-color: darkcyan;
    border-color:black;
}
.msg{
    font-family: arial, serif;
    font-size:0.9em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    color:orange;
    opacity: 0;
    height: 0;
}
.formatted_time{
    display: none;
    font-weight: bold;
    width: 500px;
}
/************************************** MOBILE VIEW *****************************************/
@media only screen and (max-width: 600px){
    h1{
        font-size: 2em;
    }
    form{
        width:auto;
        padding:0 10px;
    }
    .user_input,.formatted_time{
        font-size: 1.5em;
    }
    .msg{
        font-size:0.8em;
    }
    .formatted_time{
        width:auto;
        margin:0 10px;
    }


}
